
<input hidden id="id" name="id" value="{{ tiktok['_id'] if tiktok else '' }}" />

<div class="mb-3">
    <label for="account" class="form-label w-100">Tài khoản</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      value="{{ tiktok['username'] if tiktok else '' }}"
      required
    />
  </div>
  
  <div class="mb-3">
    <label for="password" class="form-label w-100">Mật khẩu</label>
    <input
      type="text"
      class="form-control"
      id="password"
      name="password"
      value="{{ tiktok['password'] if tiktok else '' }}"
      required
    />
  </div>
  
  <div class="mb-3">
    <label for="phone" class="form-label w-100">Số điện thoại</label>
    <input
      type="text"
      class="form-control"
      id="phone"
      name="phone"
      value="{{ tiktok['phone'] if tiktok else '' }}"
      required
    />
  </div>
  
  
  <div class="mb-3">
    <label for="email" class="form-label w-100">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      value="{{ tiktok['email'] if tiktok else '' }}"
      required
    />
  </div>
  
  
  <div class="mb-3">
    <label for="passkey" class="form-label w-100">Passkey</label>
    <input
      type="text"
      class="form-control"
      id="passkey"
      name="passkey"
      value="{{ tiktok['passkey'] if tiktok else '' }}"
      required
    />
  </div>
  
  
  <div class="mb-3">
    <label for="birthday" class="form-label w-100">Ngày sinh</label>
    <input
      type="text"
      class="form-control"
      id="birthday"
      name="birthday"
      value="{{ tiktok['birthday'] if tiktok else '' }}"
      required
    />
  </div>
  
  
  <div class="mb-3">
    <label for="country" class="form-label w-100">Quốc gia</label>
    <input
      type="text"
      class="form-control"
      id="country"
      name="country"
      value="{{ tiktok['country'] if tiktok else '' }}"
      required
    />
  </div>
  
  
  <div class="mb-3">
    <label for="device" class="form-label w-100">Thiết bị</label>
    <input
      type="text"
      class="form-control"
      id="device"
      name="device"
      value="{{ tiktok['device'] if tiktok else '' }}"
      required
    />
  </div>
  
  </div>

  