{% extends "share/Main_Layout.html" %}

{% block title %}Quản lý dự án{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="#">Home</a>
            </li>
            <li class="breadcrumb-item"><span>Components</span>
            </li>
            <li class="breadcrumb-item"><span>Base</span>
            </li>
            <li class="breadcrumb-item active"><span>Breadcrumb</span>
            </li>
        </ol>
    </nav>
</div>
<div class="body flex-grow-1">
    <div class="container-lg px-4">
       
    </div>
</div>
{% endblock %}
