{% extends "share/Main_Layout.html" %}

{% block title %}

{{project.project_name}}

{% endblock %}


{% block breadcrumb %}

<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="/project">Quản lý dự án</a></li>
            <li class="breadcrumb-item"><a href="/project/detail?id={{project._id}}">{{project.project_name}}</a></li>
            <li class="breadcrumb-item"><span>Điểm, Token</span></li>
        </ol>
    </nav>

</div>


{% endblock %}

{% block content %}



<div class="container-fluid">
    <h3 class="text-center text-danger">Điểm token: {{project.project_name}}</h3>

    <div class="container shadow-lg bg-light rounded p-4 mt-5">
        <div class="d-flex justify-content-between mb-3">
            <div>
                <input class="form-control" v-model="search" v-on:keyup="getProjectsDetailPoint"
                    placeholder="Nhập từ khoá" />
            </div>
            <span class="btn btn-success" data-coreui-toggle="tooltip" data-coreui-placement="top"
                data-coreui-title="Mẫu dữ liệu api bắn lên server" v-on:click="ShowPostDataKeyServer">
                <i class="fa-solid fa-code"></i>
            </span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th @click="sort('_id')" class="pointer" style="width: 5em;">
                        STT
                        <span class="opacity-25 mx-2"><i class="fa-solid fa-arrows-up-down"></i></span>
                    </th>
                    <th @click="sort('profile')" class="pointer">
                        Profile
                        <span class="opacity-25 mx-2"><i class="fa-solid fa-arrows-up-down"></i></span>
                    </th>
                    <th @click="sort('point')" class="pointer">
                        Điểm
                        <span class="opacity-25 mx-2"><i class="fa-solid fa-arrows-up-down"></i></span>
                    </th>
                    <th @click="sort('status')" class="pointer">
                        Trạng thái
                        <span class="opacity-25 mx-2"><i class="fa-solid fa-arrows-up-down"></i></span>
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data_project" :key="item._id">
                    <td v-html="index + 1"></td>
                    <td>
                        <div contenteditable="true" class="form-control" @keyup="Update($event, item._id, 'profile')"
                            v-html="item.profile">
                        </div>
                    </td>
                    <td>
                        <div contenteditable="true" class="form-control" @keyup="Update($event, item._id, 'point')"
                            v-html="item.point">
                        </div>
                    </td>
                    <td>
                        <div contenteditable="true" class="form-control" @keyup="Update($event, item._id, 'status')"
                            v-html="item.status">
                        </div>
                    </td>
                    <td>
                        <span class="btn btn-danger" data-coreui-toggle="tooltip" data-coreui-placement="top"
                            data-coreui-title="Xóa điểm" v-on:click="Delete(item._id)">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="my-4 d-flex justify-content-between">
            <div>
                <p>hiển thị: <span class="text-danger fw-bold" v-html="data_project.length"></span> của <span
                        class="text-danger fw-bold" v-html="totalResults"></span> kết quả</p>
            </div>
            <div v-if="totalPages > 1" class="btn-group gap-2">
                <button @click="changePage(current_page - 1)" :disabled="current_page === 1" class="btn btn-info">
                    Trước
                </button>

                <button v-for="page in totalPages" :key="page" @click="changePage(page)"
                    :class="{ 'btn-danger': current_page === page, btn: true }" class="btn">
                    <span v-html="page"></span>
                </button>

                <button @click="changePage(current_page + 1)" :disabled="current_page === totalPages"
                    class="btn btn-info">
                    Tiếp
                </button>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="staticBackdropPostServer" data-coreui-backdrop="static" data-coreui-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Các key cần có để push thông tin <strong class="text-primary">điểm</strong> lên
                    server dự án {{project.project_name}}</h5>
                <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Dữ liệu post lên dạng json</p>
                <p>
                    <span class="btn btn-secondary" data-coreui-toggle="tooltip" data-coreui-placement="top"
                        data-coreui-title="Copy link api" v-on:click="CopyURL">
                        <i class="fa-regular fa-copy"></i>
                    </span>
                    <span id="url" v-html="api_url"></span>
                </p>
                <span class="btn btn-primary" data-coreui-toggle="tooltip" data-coreui-placement="top"
                    data-coreui-title="Copy mẫu dữ liệu bắn lên" v-on:click="CopyTemplateData">
                    <i class="fa-regular fa-copy"></i>
                </span>
                <pre>
                    <code>
                    {
                        "profile": "Tên profile",
                        "device": "Tên thiết bị (pc1, pc2, pc3,...)",
                        "point": "Điểm số",
                        "project": "{{project.project_slug}}",
                        "status":"thông tin nếu có lỗi"
                    }
                </code></pre>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

<script>
    var app_vue = new Vue({
        el: '#app',
        data: {
            data_project: [],
            search: "",
            current_page: 1,
            pageSize: 25,
            totalPages: 0,
            totalResults: 0,
            order_by: "_id",
            selectedRows: [],
            isDragging: false,
            api_url: `${window.location.origin}/api/project/detail/point/push`
        },
        mounted() {
            this.getProjectsDetailPoint();
        },
        computed: {

        },
        methods: {
            getProjectsDetailPoint() {
                fetch('/project/detail/point/get_data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "id": "{{project._id}}",
                        "search": this.search,
                        "page": this.current_page,
                        "pageSize": this.pageSize,
                        "order_by": this.order_by
                    })
                })
                    .then(response => response.json())
                    .then(response => {
                        this.data_project = response.data;
                        this.totalPages = response.totalPages;
                        this.totalResults = response.totalResults;
                    })
            },
            changePage(page) {
                if (page >= 1 && page <= this.totalPages) {
                    this.current_page = page;
                    this.getProjectsDetailPoint();
                }
            },
            sort(field) {
                this.order_by = field;
                this.page = 1;
                this.getProjectsDetailPoint();
            },
            ShowPostDataKeyServer() {
                $('#staticBackdropPostServer').modal('show');
            },
            CopyURL() {
                if (navigator.clipboard) {
                    navigator.clipboard.writeText(this.api_url)
                        .then(() => {
                            Toast.fire({
                                icon: "success",
                                title: "Copy link thành công"
                            });
                        })
                        .catch(() => {
                            Toast.fire({
                                icon: "error",
                                title: "Copy link thất bại"
                            });
                        })
                }
                else {
                    Toast.fire({
                        icon: "error",
                        title: "Trình duyệt không hỗ trợ"
                    });
                }
            },
            CopyTemplateData() {
                if (navigator.clipboard) {
                    navigator.clipboard.writeText(`{
                        "profile": "Tên profile",
                        "device": "Tên thiết bị (pc1, pc2, pc3,...)",
                        "point": "Điểm số",
                        "project": "{{project.project_slug}}",
                        "status":"thông tin nếu có lỗi"
                    }`)
                        .then(() => {
                            Toast.fire({
                                icon: "success",
                                title: "Copy mẫu dữ liệu thành công"
                            });
                        })
                        .catch(() => {
                            Toast.fire({
                                icon: "error",
                                title: "Copy mẫu dữ liệu thất bại"
                            });
                        })
                }
                else {
                    Toast.fire({
                        icon: "error",
                        title: "Trình duyệt không hỗ trợ"
                    });
                }
            },
            Delete(id) {
                fetch('/project/detail/point/delete?id=' + id, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(response => {
                        if (response.code == 200) {
                            this.getProjectsDetailPoint();
                            Toast.fire({
                                icon: "success",
                                title: "Xóa điểm thành công"
                            });
                        }
                        else {
                            Toast.fire({
                                icon: "error",
                                title: response.message
                            });
                        }
                    })
            },
            Update(event, id, field) {
                let value = event.target.innerText;
                fetch("/project/detail/point/update", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        id: id,
                        field: field,
                        value: value
                    })
                })
            },
        }
    });

</script>


{% endblock %}