{% extends "share/Main_Layout.html" %}

{% block title %}

Thêm accountId

{% endblock %}

${% block breadcrumb %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="/appleId">Quản lý appleId</a>
            </li>
            <li class="breadcrumb-item"><span>
                    Thêm appleId
                </span>
            </li>
        </ol>
    </nav>
</div>

{% endblock %}
{% block content %}

<div class="container-lg px-4">
    <p class="h5 text-center mb-4">Nhập tài khoản <span class="mx-2 opacity-75">(Mỗi account 1 dòng)</span></p>
    <div class="card mb-4 mx-4">
        <div class="card-body p-4">
            <div class="mb-5 d-flex justify-content-between">
                <div class="mx-2 d-flex justify-content-start">
                    <div>
                        <select class="form-select" style="max-width: 300px !important;" id="appleId_device"></select>
                    </div>
                    <div class="mx-2 d-flex justify-content-start gap-2">

                        <span class="btn btn-outline-info" id="btn_add_devices" data-coreui-toggle="tooltip"
                            data-coreui-placement="top" onclick="ActiveAddDevices()"
                            data-coreui-title="Tạo devices mới">
                            <i class="fa-solid fa-plus"></i>
                        </span>

                        <div class="d-flex justify-content-start gap-2 d-none" id="form-add-device">
                            <input class="form-control w-50" type="text" id="new_device" placeholder="Tên device">
                            <span class="btn btn-outline-success" onclick="SaveDevices()">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </span>
                            <span class="btn btn-outline-danger" onclick="ActiveAddDevices()">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div>
                    <button class="btn btn-success text-white" id="save" type="button" onclick="save()">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="appleId_form" rows="20"
                    placeholder="accountId|password|question|birthday|country|mail|phone"></textarea>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

<script>

    var devices = [
        "Vui lòng chọn devices"
    ];
    var isSuccess = false;
    var isAddDevice = false;
    var message = '';

    function RenderMenuDevices() {
        let profileType = document.getElementById('appleId_device');
        profileType.innerHTML = '';
        devices.forEach(device => {
            let option = document.createElement('option');
            option.value = device;
            option.text = device;
            profileType.appendChild(option);
        });
    }

    function ActiveAddDevices() {
        isAddDevice = !isAddDevice;
        $('#form-add-device').toggleClass('d-none');
        $('#btn_add_devices').toggleClass('d-none');
        $("#new_device").val('');
    }

    function SaveDevices() {
        devices.push($("#new_device").val());
        ActiveAddDevices();
        RenderMenuDevices();
    }

    $(document).ready(function () {

        fetch("/appleId/get_devices")
            .then(response => response.json())
            .then(data => {
                data = data.data;
                for (let i = 0; i < data.length; i++) {
                    devices.push(data[i]);
                }
                RenderMenuDevices()

            });

    });

    async function save() {
        try {
            debugger;
            $("#profile").LoadingOverlay("show", {
                background: "rgba(165, 190, 100, 0.5)"
            });
            $("#profile").LoadingOverlay("show")

            $("#save").LoadingOverlay("show", {
                background: "rgba(165, 190, 100, 0.5)"
            });
            $("#save").LoadingOverlay("show")
            $("#save").attr("disabled", true);

            let appleId = document.getElementById('appleId_form').value;
            let appleIdArray = appleId.split('\n');
            for (let i = 0; i < appleIdArray.length; i++) {
                let apple_data = appleIdArray[i];

                let data = apple_data.split('|');
                let account = data[0];
                let password = data[1];
                let question = data[2];
                let birthday = data[3];
                let country = data[4];
                let mail = data[5];
                let phone = data[6];

                if (!mail) {
                    mail = ""
                }

                if (!phone) {
                    phone = ""
                }

                let device = document.getElementById('appleId_device').value;

                if (!device || device === "Vui lòng chọn devices") {
                    message = 'Vui lòng chọn devices';
                    return;
                }else{
                    message = '';
                }

                await saveData(account, password, question, birthday, country, device, mail, phone);

            }

            isSuccess = true;

        } catch (error) {
            console.log(error);
        } finally {
            $("#profile").LoadingOverlay("hide", true);
            $("#save").LoadingOverlay("hide", true);
            $("#save").attr("disabled", false);
            Swal.fire({
                title: isSuccess ? 'Thành công' : 'Thất bại',
                text: message,
                icon: isSuccess ? 'success' : 'error',
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                if (isSuccess) {
                    window.location.href = '/appleId';
                }
            });
        }
    }

    async function saveData(account, password, question, birthday, country, device, mail, phone) {

        await fetch('/appleId/save', {
            method: 'POST',
            body: JSON.stringify({
                account: account,
                password: password,
                question: question,
                birthday: birthday,
                country: country,
                mail: mail,
                phone: phone,
                device: device
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })

    }
</script>


{% endblock %}