{% extends "share/Main_Layout.html" %}

{% block title %}

{{ "Cập nhật profile" if profile else 'Tạo profile mới' }}

{% endblock %}

${% block breadcrumb %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="/profile_gpm">Quản lý profile GPM</a>
            </li>
            <li class="breadcrumb-item"><span>
                    {{ "Cập nhật profile" if profile else 'Tạo profile Mới' }}
                </span>
            </li>
        </ol>
    </nav>
</div>

{% endblock %}
{% block content %}

<div class="container-lg px-4">
    <p class="h5 text-center mb-4">Nhập profile <span class="mx-2 opacity-75">(Mỗi profile 1 dòng)</span></p>
    <div class="card mb-4 mx-4">
        <div class="card-body p-4">
            <div class="mb-5 d-flex justify-content-between">
                <div class="mx-2 d-flex justify-content-start">
                    <div>
                        <select class="form-select" style="max-width: 300px !important;" id="profile_type"></select>
                    </div>
                    <div class="mx-2 d-flex justify-content-start gap-2">

                        <span class="btn btn-outline-info" id="btn_add_devices" data-coreui-toggle="tooltip"
                            data-coreui-placement="top" onclick="ActiveAddDevices()"
                            data-coreui-title="Tạo devices mới">
                            <i class="fa-solid fa-plus"></i>
                        </span>

                        <div class="d-flex justify-content-start gap-2 d-none" id="form-add-device">
                            <input class="form-control w-50" type="text" id="new_device" placeholder="Tên device">
                            <span class="btn btn-outline-success" onclick="SaveDevices()">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </span>
                            <span class="btn btn-outline-danger" onclick="ActiveAddDevices()">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div>
                    <p>tên profile | địa chỉ ví tôn| mật khẩu | seed phrase (có thể chỉ cần điền mỗi profile)</p>
                </div>
                <div>
                    <button class="btn btn-success text-white" id="save" type="button" onclick="save()">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="profile" rows="20" placeholder="Tên profile"></textarea>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

<script>

    var devices = [
        "Vui lòng chọn devices"
    ];
    var isSuccess = false;
    var isAddDevice = false;
    var massage = ""

    function RenderMenuDevices() {
        let profileType = document.getElementById('profile_type');
        profileType.innerHTML = '';
        devices.forEach(device => {
            let option = document.createElement('option');
            option.value = device;
            option.text = device;
            profileType.appendChild(option);
        });
    }

    function ActiveAddDevices() {
        isAddDevice = !isAddDevice;
        $('#form-add-device').toggleClass('d-none');
        $('#btn_add_devices').toggleClass('d-none');
        $("#new_device").val('');
    }

    function SaveDevices() {
        devices.push($("#new_device").val());
        ActiveAddDevices();
        RenderMenuDevices();
    }

    $(document).ready(function () {

        fetch("/profile_gpm/get_devices")
            .then(response => response.json())
            .then(data => {
                data = data.data;
                for (let i = 0; i < data.length; i++) {
                    devices.push(data[i]);
                }
                RenderMenuDevices()

            });

    });

    async function save() {
        try {
            let profileDevice = document.getElementById('profile_type').value;
            let profile = document.getElementById('profile').value;

            if (profileDevice == 'Vui lòng chọn devices') {
                massage = 'Vui lòng chọn devices';
                return;
            }

            if (!profile) {
                massage = 'Vui lòng nhập profile';
                return;
            }

            $("#profile").LoadingOverlay("show", {
                background: "rgba(165, 190, 100, 0.5)"
            });
            $("#profile").LoadingOverlay("show")

            $("#save").LoadingOverlay("show", {
                background: "rgba(165, 190, 100, 0.5)"
            });
            $("#save").LoadingOverlay("show")
            $("#save").attr("disabled", true);


            let profileArray = profile.split('\n');
            for (let i = 0; i < profileArray.length; i++) {
                let profileData = profileArray[i];
                
                if (profileData.length == 0) {
                    continue;
                }

                let profileDataSplit = profileData.split('|');

                let profileName = profileDataSplit[0].trim();

                if (profileName.length == 0) {
                    continue;
                }

                let addressTon = profileDataSplit[1] ? profileDataSplit[1].trim() : '';
                let passwordTon = profileDataSplit[2] ? profileDataSplit[2].trim() : '';
                let seedPhraseTon = profileDataSplit[3] ? profileDataSplit[3].trim() : '';


                await saveData(profileName, addressTon, passwordTon, seedPhraseTon, profileDevice);
            }
            isSuccess = true;


        } catch (error) {
            console.log(error);
        } finally {
            $("#profile").LoadingOverlay("hide", true);
            $("#save").LoadingOverlay("hide", true);
            $("#save").attr("disabled", false);
            Swal.fire({
                title: isSuccess ? 'Thành công' : 'Thất bại',
                text: massage,
                icon: isSuccess ? 'success' : 'error',
                showConfirmButton: false,
                timer: 2500
            }).then(() => {
                if (isSuccess) {
                    window.location.href = '/profile_gpm';
                }
            });
        }
    }

    async function saveData(profileName, addressTon, passwordTon, seedPhraseTon, profileDevice) {

        let formData = new FormData();
        formData.append('profile_name', profileName);
        formData.append('profile_device', profileDevice);
        formData.append('addressTon', addressTon);
        formData.append('passwordTon', passwordTon);
        formData.append('seedPhraseTon', seedPhraseTon);
    
        let jsonData = {};
        formData.forEach((value, key) => {
            jsonData[key] = value;
        })

        await fetch('/profile_gpm/save', {
            method: 'POST',
            body: JSON.stringify(jsonData),
            headers: {
                'Content-Type': 'application/json'
            }
        })

    }
</script>


{% endblock %}