{% extends "share/Main_Layout.html" %}

{% block title %}

{{ "Cập nhật profile" if profile else 'Tạo profile mới' }}

{% endblock %}

${% block breadcrumb %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="/profile_gpm">Quản lý profile</a>
            </li>
            <li class="breadcrumb-item"><span>
                    {{ "Cập nhật profile" if profile else 'Tạo profile Mới' }}
                </span>
            </li>
        </ol>
    </nav>
</div>

{% endblock %}
{% block content %}

<div class="container-lg px-4">
    <p class="h5 text-center mb-4">Nhập profile <span class="mx-2 opacity-75">(Mỗi profile 1 dòng)</span></p>
    <div class="card mb-4 mx-4">
        <div class="card-body p-4">
            <div class="mb-3 d-flex jus">
                <button class="btn btn-success text-white px-5" id="save" type="button" onclick="save()">Lưu</button>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="profile" rows="20" placeholder="Tên profile"></textarea>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

<script>

    var isSuccess = false;

    async function save() {
        try {
            $("#profile").LoadingOverlay("show", {
                background: "rgba(165, 190, 100, 0.5)"
            });
            $("#profile").LoadingOverlay("show")

            $("#save").LoadingOverlay("show", {
                background: "rgba(165, 190, 100, 0.5)"
            });
            $("#save").LoadingOverlay("show")
            $("#save").attr("disabled", true);

            let profile = document.getElementById('profile').value;
            let profileArray = profile.split('\n');
            for (let i = 0; i < profileArray.length; i++) {
                let profileItem = profileArray[i].split('||');
                let profileName = profileItem[0];
                let profileDevice = profileItem[1];
                await saveData(profileName, profileDevice);
            }

            isSuccess = true;

        } catch (error) {
            console.log(error);
        } finally {
            $("#profile").LoadingOverlay("hide", true);
            $("#save").LoadingOverlay("hide", true);
            $("#save").attr("disabled", false);
            Swal.fire({
                title: isSuccess ? 'Thành công' : 'Thất bại',
                icon: isSuccess ? 'success' : 'error',
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                if (isSuccess) {
                    window.location.href = '/profile_gpm';
                }
            });
        }
    }

    async function saveData(profileName, profileDevice) {

        let formData = new FormData();
        formData.append('profile_name', profileName);
        formData.append('profile_device', profileDevice);

        let jsonData = {};
        formData.forEach((value, key) => {
            jsonData[key] = value;
        })

        await fetch('/profile_gpm/save', {
            method: 'POST',
            body: JSON.stringify(jsonData),
            headers: {
                'Content-Type': 'application/json'
            }
        })

    }
</script>


{% endblock %}