{% extends "share/Main_Layout.html" %} {% block title %} Profile GPM {% endblock
%} ${% block breadcrumb %}

<div class="container-fluid px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
      <li class="breadcrumb-item"><span href="">Quản lý profile</span></li>
      <li class="breadcrumb-item"><span>Profile GPM</span></li>
    </ol>
  </nav>
</div>

{% endblock %} {% block content %}

<div class="shadow-lg bg-body rounded px-5 pt-4 pb-5">
  <div class="table-responsive">
    <div class="d-flex gap-3 mb-3">
      <div>
        <span
          class="btn btn-success"
          data-coreui-toggle="tooltip"
          data-coreui-placement="top"
          data-coreui-title="Tải dữ liệu mới nhất"
          v-on:click="current_page = 1; getProfiles()"
        >
          <i class="fa-solid fa-rotate-right"></i>
        </span>
      </div>
      <div class="">
        <select
          class="form-control"
          id="filter_device"
          v-model="filter_device"
          @change="current_page = 1; getProfiles()"
        >
          <option value="">Thiết bị (tất cả)</option>
          <option
            v-for="item in device"
            :key="item"
            :value="item"
            v-html="item"
          ></option>
        </select>
      </div>
      <div class="d-flex gap-2">
        <div>
          <span
            v-show="is_have_status == 'true'"
            v-on:click="is_have_status = 'false'"
            class="text-primary pointer text-nowrap px-2 py-1 rounded"
            >có chứa</span
          >
          <span
            v-show="is_have_status == 'false'"
            v-on:click="is_have_status = 'true'"
            class="text-danger pointer text-nowrap px-2 py-1 rounded"
            >không chứa</span
          >
          <br />
          <span class="text-nowrap opacity-25">trạng thái</span>
        </div>
        <select
          class="form-control"
          id="filter_device"
          v-model="filter_status"
          @change="current_page = 1; getProfiles()"
        >
          <option value="">Trạng thái (tất cả)</option>
          <option
            v-for="item in status"
            :key="item"
            :value="item"
            v-html="item"
          ></option>
        </select>
      </div>
      <div>
        <input
          type="text"
          class="form-control"
          v-model="name"
          placeholder="tìm kiếm profile"
          v-on:keyup="debouncedSearch"
        />
      </div>
      <div>
        <input
          type="text"
          class="form-control"
          v-model="session"
          placeholder="tìm kiếm seesion"
          v-on:keyup="debouncedSearch"
        />
      </div>
      <div class="d-flex gap-2" style="max-height: 2.4em">
        <input
          type="text"
          class="form-control"
          placeholder="nội dung cập nhật"
          v-model="updateFiled.value"
        />
        <div class="text-center">
          <span
            v-show="is_update_all == 'all'"
            v-on:click="is_update_all = 'choose'"
            class="text-primary px-2 py-1 rounded pointer text-nowrap"
            >Tất cả</span
          >
          <span
            v-show="is_update_all == 'choose'"
            v-on:click="is_update_all = 'filter'"
            class="text-danger px-2 py-1 rounded pointer text-nowrap"
            >Đã chọn</span
          >
          <span
            v-show="is_update_all == 'filter'"
            v-on:click="is_update_all = 'all'"
            class="text-success px-2 py-1 rounded pointer text-nowrap"
            >Theo lọc</span
          >
          <br />
          <span class="text-nowrap opacity-25">trường dữ liệu</span>
        </div>
        <select class="form-control" v-model="updateFiled.key">
          <option value="" disabled selected>Trường dữ liệu</option>
          <option value="status">Trạng thái</option>
          <option value="session">Session</option>
        </select>
        <span
          class="btn btn-success"
          data-coreui-toggle="tooltip"
          data-coreui-placement="top"
          data-coreui-title="Cập nhật dữ liệu trường đã chọn"
          v-on:click="SaveUpdate()"
        >
          <i class="fa-solid fa-floppy-disk"></i>
        </span>
      </div>
      <div class="d-flex gap-2" style="max-height: 2.4em">
        <span
          v-on:click="ExportExcel"
          class="btn btn-success"
          data-coreui-toggle="tooltip"
          data-coreui-placement="top"
          data-coreui-title="Xuất dữ liệu ra excel"
        >
          <i class="fa-solid fa-file-excel"></i>
        </span>

        <a
          href="/profile_gpm/form"
          class="btn btn-primary"
          data-coreui-toggle="tooltip"
          data-coreui-placement="top"
          data-coreui-title="Tạo profile mới"
        >
          <i class="fa-solid fa-plus"></i>
        </a>

        <a
          href="/profile_gpm/update"
          class="btn btn-warning"
          data-coreui-toggle="tooltip"
          data-coreui-placement="top"
          data-coreui-title="Cập nhật profile hàng loạt"
        >
          <i class="fa-solid fa-user-pen"></i>
        </a>

        <span
          class="btn btn-danger"
          data-coreui-toggle="tooltip"
          data-coreui-placement="top"
          data-coreui-title="Xoá profile đang chọn"
          v-on:click="deleteProfiles()"
        >
          <i class="fa-solid fa-trash"></i>
        </span>
      </div>
      <div class="ms-auto d-flex align-items-center gap-3">
        <select
          class="form-control"
          style="min-width: 60px"
          v-model="pageSize"
          @change="current_page = 1; getProfiles()"
        >
          <option value="25" selected>25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
        <p
          style="
            white-space: nowrap;
            line-height: 1.5;
            letter-spacing: 0.1em;
            margin: 0;
          "
        >
          hiển thị:
          <strong class="text-danger fw-bold" v-html="profiles.length"></strong>
          /
          <strong class="text-danger fw-bold" v-html="totalResults"></strong>
          kết quả
        </p>
      </div>
    </div>

    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>STT</th>
          <th class="text-nowrap">
            Tên profile
            <span
              class="btn btn-sm btn-info"
              data-coreui-toggle="tooltip"
              data-coreui-placement="top"
              data-coreui-title="Click để copy"
              v-on:click="CopyData('profile_name')"
            >
              <i class="fa-solid fa-copy"></i>
            </span>
          </th>
          <th class="text-nowrap">Thiết bị</th>
          <th class="text-nowrap">Trạng thái</th>
          <th class="text-nowrap d-flex gap-2 justify-content-center">
            Session
            <span
              class="btn btn-sm btn-info"
              data-coreui-toggle="tooltip"
              data-coreui-placement="top"
              data-coreui-title="Click để copy"
              v-on:click="CopyData('session')"
            >
              <i class="fa-solid fa-copy"></i>
            </span>
          </th>
          <th>Mật khẩu Ton</th>
          <th>Địa chỉ</th>
          <th>Seed phrase</th>
          <th class="text-nowrap">Lần cập nhật cuối</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(item, index) in profiles"
          :key="item.id"
          v-for="(item, index) in data_project"
          :key="item._id"
          @click="selectRow(item._id)"
          @mouseover="isDragging ? selectRow(item._id) : null"
          :class="{ 'selected-row': selectedRows.includes(item._id) }"
        >
          <td v-html="index + 1"></td>
          <td class="text-center">
            <div class="d-flex gap-1 flex-wrap">
              <span v-html="item.profile_name" class=""></span>
              <span
                class="text-primary"
                @click="CopyDataValue(item.profile_name)"
                ><i class="fa-regular fa-copy"></i
              ></span>
            </div>
          </td>
          <td v-html="item.profile_device"></td>
          <td v-html="item.status"></td>
          <td>
            <p class="session" v-html="item.session"></p>
          </td>
          <td>
            <div class="d-flex gap-2">
              <span v-html="item.passwordTon"></span>
              <span
                v-if="item.passwordTon"
                class="text-info"
                v-on:click="CopyDataValue(item.passwordTon)"
              >
                <i class="fa-solid fa-copy"></i>
              </span>
            </div>
          </td>
          <td>
            <div class="d-flex gap-2">
              <span v-html="item.addressTon"></span>
              <span
                v-if="item.addressTon"
                class="text-info"
                v-on:click="CopyDataValue(item.addressTon)"
              >
                <i class="fa-solid fa-copy"></i>
              </span>
            </div>
          </td>
          <td>
            <div class="d-flex gap-2">
              <span v-html="item.seedPhraseTon"></span>
              <span
                v-if="item.seedPhraseTon"
                class="text-info"
                v-on:click="CopyDataValue(item.seedPhraseTon)"
              >
                <i class="fa-solid fa-copy"></i>
              </span>
            </div>
          </td>

          <td class="text-center">
            <span v-html="item.last_time"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="my-4 d-flex justify-content-between">
      <div v-if="totalPages > 1" class="btn-group gap-2">
        <button
          @click="changePage(current_page - 1)"
          :disabled="current_page === 1"
          class="btn btn-info"
        >
          Trước
        </button>

        <button
          v-for="page in pagesToShow"
          :key="page"
          @click="changePage(page)"
          :class="{ 'btn-danger': current_page === page, btn: true }"
          class="btn"
        >
          <span v-html="page"></span>
        </button>

        <button
          @click="changePage(current_page + 1)"
          :disabled="current_page === totalPages"
          class="btn btn-info"
        >
          Tiếp
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  var app_vue = new Vue({
    el: "#app",
    data: {
      profiles: [],
      current_page: 1,
      device: [],
      status: [],
      filter_device: "",
      is_have_status: "true",
      is_update_all: "all",
      filter_status: "",
      session: "",
      pageSize: 25,
      totalPages: 0,
      totalResults: 0,
      order_by: "last_time",
      selectedRows: [],
      isDragging: false,
      name: "",
      updateFiled: {
        key: "",
        value: "",
      },
    },
    created() {
      this.debouncedSearch = _.debounce(this.getProfiles, 300);
    },
    mounted: function () {
      this.getProfiles();
    },
    computed: {
      pagesToShow() {
        const pages = [];
        const startPage = Math.max(1, this.current_page - 3);
        const endPage = Math.min(this.totalPages, this.current_page + 3);

        for (let i = startPage; i <= endPage; i++) {
          pages.push(i);
        }

        return pages;
      },
    },
    watch: {
      is_have_status: function (newVal, oldVal) {
        this.current_page = 1;
        this.getProfiles();
      },
    },
    methods: {
      getProfiles: function () {
        $("table").LoadingOverlay("show", {
          background: "rgba(165, 190, 100, 0.5)",
        });
        fetch("/profile_gpm/list", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            page: this.current_page,
            pageSize: this.pageSize,
            order_by: this.order_by,
            device: this.filter_device,
            name: this.name,
            status: this.filter_status,
            session: this.session,
            is_have_status: this.is_have_status,
          }),
        })
          .then((response) => {
            $("table").LoadingOverlay("hide", true);
            return response.json();
          })
          .then((data) => {
            this.profiles = data.data;
            this.totalPages = data.totalPages;
            this.totalResults = data.totalResults;
            this.device = data.device;
            this.status = data.status;
          });
      },
      changePage(page) {
        if (page >= 1 && page <= this.totalPages) {
          this.current_page = page;
          this.getProfiles();
        }
      },
      deleteProfiles() {
        Swal.fire({
          title: "Bạn chắc chắn chứ?",
          text: "Sẽ xoá tất cả dữ liệu liên quan, không thể khôi phục lại!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "Xoá!",
          cancelButtonColor: "#d33",
          cancelButtonText: "Huỷ",
        }).then((result) => {
          if (result.isConfirmed) {
            if (this.selectedRows.length == 0) {
              Toast.fire({
                icon: "error",
                title: "Không có dữ liệu để xoá",
              });
              return;
            }

            this.selectedRows.forEach(async (item) => {
              await fetch("/profile_gpm/delete?id=" + item);
            });

            Swal.fire({
              title: "Xoá thành công",
              icon: "success",
            }).then(() => {
              this.getProfiles();
            });
          }
        });
      },
      selectRow(id) {
        if (this.selectedRows.includes(id)) {
          if (this.isDragging) {
            return;
          }
          this.selectedRows = this.selectedRows.filter((rowId) => rowId !== id);
        } else {
          this.selectedRows.push(id);
        }
      },
      startDrag() {
        this.isDragging = true;
      },
      stopDrag() {
        this.isDragging = false;
      },
      SaveUpdate() {
        if (this.updateFiled.key == "") {
          Toast.fire({
            icon: "error",
            title: "Vui lòng chọn trường cập nhật",
          });
          return;
        }
        if (this.updateFiled.value == "") {
          Toast.fire({
            icon: "error",
            title: "Vui lòng chọn nhập dữ liệu cập nhật",
          });
          return;
        }

        Swal.fire({
          title: "Bạn chắc chắn chứ?",
          text: "Dữ liệu sẽ được cập nhật, không thể khôi phục lại!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "Cập nhật!",
          cancelButtonColor: "#d33",
          cancelButtonText: "Huỷ",
        }).then((result) => {
          if (result.isConfirmed) {
            fetch("/profile_gpm/update_field", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                key: this.updateFiled.key,
                value: this.updateFiled.value,
                is_update_all: this.is_update_all,
                list_profile_le: this.selectedRows.toString(),
                device: this.filter_device,
                name: this.name,
                status: this.filter_status,
                session: this.session,
                is_have_status: this.is_have_status,
              }),
            }).then(() => {
              Swal.fire({
                title: "Cập nhật thành công",
                icon: "success",
              }).then(() => {
                this.getProfiles();
              });
            });
          }
        });
      },
      CopyData(key) {
        Toast.fire({
          icon: "info",
          title: "Đang lấy dữ liệu",
        });
        fetch("/profile_gpm/get_data?key=" + key, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            order_by: this.order_by,
            device: this.filter_device,
            name: this.name,
            status: this.filter_status,
            session: this.session,
            is_have_status: this.is_have_status,
          }),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            let stringWithoutCommas = data.data.join("");
            navigator.clipboard.writeText(stringWithoutCommas);
            Toast.fire({
              icon: "success",
              title: "Đã copy dữ liệu",
            });
          })
          .catch(() => {
            Toast.fire({
              icon: "error",
              title: "Lỗi khi lấy dữ liệu",
            });
          });
      },
      ExportExcel() {
        fetch("/profile_gpm/export_excel_data", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            device: this.filter_device,
            name: this.name,
            status: this.filter_status,
            session: this.session,
            is_have_status: this.is_have_status,
          }),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            if (data.code == 200) {
              let res_data = data.data;
              let data_result = [];
              for (let i = 0; i < res_data.length; i++) {
                data_result.push({
                  "Tên profile": res_data[i].profile_name,
                  "Thiết bị": res_data[i].profile_device,
                });
              }
              let ws = XLSX.utils.json_to_sheet(data_result);
              const columnWidths = Object.keys(data_result[0]).map((key) => {
                const maxWidth = Math.max(
                  ...data_result.map((row) =>
                    row[key] ? row[key].toString().length : 0
                  ),
                  key.length
                );
                return { wch: maxWidth + 2 };
              });
              ws["!cols"] = columnWidths;

              let wb = XLSX.utils.book_new();
              XLSX.utils.book_append_sheet(wb, ws, "Sheet1");

              // Tải file Excel xuống
              XLSX.writeFile(wb, `${"profile"}.xlsx`);
            } else {
              Toast.fire({
                icon: "error",
                title: "Lỗi khi xuất dữ liệu",
              });
            }
          });
      },
      CopyDataValue(value) {
        navigator.clipboard.writeText(value).then(() => {
          Toast.fire({
            icon: "success",
            title: "Đã sao chép",
          });
        });
      },
    },
  });

  $(document).ready(function () {
    window.addEventListener("keydown", function (e) {
      if (e.key === "Shift") {
        app_vue.startDrag();
      }

      if (event.ctrlKey && event.key === "a") {
        event.preventDefault();
        app_vue.selectedRows = app_vue.profiles.map((item) => item._id);
      }
    });

    window.addEventListener("keyup", function (e) {
      if (e.key === "Shift") {
        app_vue.stopDrag();
      }
    });
  });
</script>

{% endblock %}
