{% extends "share/Main_Layout.html" %}

{% block title %}

Profile GPM

{% endblock %}


${% block breadcrumb %}

<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="/project">Quản lý profile</a></li>
            <li class="breadcrumb-item"><span>Profile GPM</span></li>
        </ol>
    </nav>
</div>

{% endblock %}

{% block content %}


<div class="shadow-lg bg-body rounded px-5 pt-4 pb-5">

    <div class="table-responsive">

        <div class="d-flex gap-3 mb-3">
            <div class="">
                <select class="form-control" id="filter_device" v-model="filter_device" @change="getProfiles()">
                    <option value="">Thiết bị (tất cả)</option>
                    <option v-for="item in device" :key="item" :value="item" v-html="item"></option>
                </select>
            </div>
            <div class="">
                <select class="form-control" id="filter_device" v-model="filter_status" @change="getProfiles()">
                    <option value="">Trạng thái (tất cả)</option>
                    <option v-for="item in status" :key="item" :value="item" v-html="item"></option>
                </select>
            </div>

            <div>
                <input type="text" class="form-control" v-model="name" placeholder="tìm kiếm profile"
                    v-on:keyup="debouncedSearch" />
            </div>

            <div>
                <input type="text" class="form-control" v-model="session" placeholder="tìm kiếm seesion"
                    v-on:keyup="debouncedSearch" />
            </div>

            <div class="d-flex gap-2" style="max-height: 2.4em;">
                <input type="text" class="form-control" placeholder="nội dung cập nhật" v-model="updateFiled.value">
                <select class="form-control" v-model="updateFiled.key">
                    <option value="" disabled selected>Trường dữ liệu</option>
                    <option value="status">Trạng thái</option>
                    <option value="session">Session</option>
                </select>
                <span class="btn btn-success" data-coreui-toggle="tooltip" data-coreui-placement="top"
                    data-coreui-title="Cập nhật dữ liệu trường đã chọn" v-on:click="SaveUpdate()">
                    <i class="fa-solid fa-floppy-disk"></i>
                </span>
            </div>

            <div class="d-flex gap-3 mb-3">

                <span v-on:click="ExportExcel" class="btn btn-success" data-coreui-toggle="tooltip"
                    data-coreui-placement="top" data-coreui-title="Xuất dữ liệu ra excel">
                    <i class="fa-solid fa-file-excel"></i>
                </span>

                <a href="/profile_gpm/form" class="btn btn-primary" data-coreui-toggle="tooltip"
                    data-coreui-placement="top" data-coreui-title="Tạo profile mới">
                    <i class="fa-solid fa-plus"></i>
                </a>

                <span class="btn btn-danger" data-coreui-toggle="tooltip" data-coreui-placement="top"
                    data-coreui-title="Xoá profile đang chọn" v-on:click="deleteProfiles()">
                    <i class="fa-solid fa-trash"></i>
                </span>
            </div>
        </div>


        <table class="table table-hover table-striped table-bordered" @mousedown="startDrag" @mouseup="stopDrag">
            <thead>
                <tr>
                    <th>STT</th>
                    <th class="text-nowrap">
                        Tên profile
                    </th>
                    <th class="text-nowrap">Thiết bị</th>
                    <th class="text-nowrap">Trạng thái</th>
                    <th class="text-nowrap d-flex gap-2">
                        Session
                        <span class="btn btn-sm btn-info" data-coreui-toggle="tooltip" data-coreui-placement="top"
                            data-coreui-title="Click để copy" v-on:click="CopyData('session')">
                            <i class="fa-solid fa-copy"></i>
                        </span>
                    </th>
                    <th class="text-nowrap">Lần cập nhật cuối</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in profiles" :key="item.id" v-for="(item, index) in data_project"
                    :key="item._id" @click="selectRow(item._id)" @mouseover="isDragging ? selectRow(item._id) : null"
                    :class="{ 'selected-row': selectedRows.includes(item._id) }">
                    <td v-html="index + 1"></td>
                    <td v-html="item.profile_name"></td>
                    <td v-html="item.profile_device"></td>
                    <td v-html="item.status"></td>
                    <td v-html="item.session"></td>
                    <td v-html="item.last_time"></td>
                </tr>
            </tbody>
        </table>
        <div class="my-4 d-flex justify-content-between">
            <div>
                <p>hiển thị: <span class="text-danger fw-bold" v-html="profiles.length"></span> của <span
                        class="text-danger fw-bold" v-html="totalResults"></span> kết quả</p>
            </div>
            <div v-if="totalPages > 1" class="btn-group gap-2">
                <button @click="changePage(current_page - 1)" :disabled="current_page === 1" class="btn btn-info">
                    Trước
                </button>

                <button v-for="page in pagesToShow" :key="page" @click="changePage(page)"
                    :class="{ 'btn-danger': current_page === page, btn: true }" class="btn">
                    <span v-html="page"></span>
                </button>

                <button @click="changePage(current_page + 1)" :disabled="current_page === totalPages"
                    class="btn btn-info">
                    Tiếp
                </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    var app_vue = new Vue({
        "el": "#app",
        "data": {
            "profiles": [],
            current_page: 1,
            device: [],
            status: [],
            filter_device: "",
            filter_status: "",
            session: "",
            pageSize: 25,
            totalPages: 0,
            totalResults: 0,
            order_by: "last_time",
            selectedRows: [],
            isDragging: false,
            name: "",
            updateFiled: {
                key: "",
                value: ""
            }
        },
        created() {
            this.debouncedSearch = _.debounce(this.getProfiles, 300);
        },
        "mounted": function () {
            this.getProfiles();
        },
        computed: {
            pagesToShow() {
                const pages = [];
                const startPage = Math.max(1, this.current_page - 3);
                const endPage = Math.min(this.totalPages, this.current_page + 3);

                for (let i = startPage; i <= endPage; i++) {
                    pages.push(i);
                }

                return pages;
            }
        },
        "methods": {
            "getProfiles": function () {
                $("table").LoadingOverlay("show", {
                    background: "rgba(165, 190, 100, 0.5)"
                });
                fetch("/profile_gpm/list", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        "page": this.current_page,
                        "pageSize": this.pageSize,
                        "order_by": this.order_by,
                        "device": this.filter_device,
                        "name": this.name,
                        "status": this.filter_status,
                        "session": this.session
                    })
                }).then(response => {
                    $("table").LoadingOverlay("hide", true);
                    return response.json();
                }).then(data => {
                    this.profiles = data.data;
                    this.totalPages = data.totalPages;
                    this.totalResults = data.totalResults;
                    this.device = data.device;
                    this.status = data.status;
                });
            },
            changePage(page) {
                if (page >= 1 && page <= this.totalPages) {
                    this.current_page = page;
                    this.getProfiles();
                }
            },
            deleteProfiles() {
                Swal.fire({
                    title: "Bạn chắc chắn chứ?",
                    text: "Sẽ xoá tất cả dữ liệu liên quan, không thể khôi phục lại!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    confirmButtonText: "Xoá!",
                    cancelButtonColor: "#d33",
                    cancelButtonText: "Huỷ",
                }).then((result) => {
                    if (result.isConfirmed) {

                        if (this.selectedRows.length == 0) {
                            Toast.fire({
                                icon: "error",
                                title: "Không có dữ liệu để xoá"
                            });
                            return;
                        }

                        this.selectedRows.forEach(async item => {
                            await fetch("/profile_gpm/delete?id=" + item)
                        });

                        Swal.fire({
                            title: "Xoá thành công",
                            icon: "success"
                        }).then(() => {
                            this.getProfiles();
                        });
                    }
                });
            },
            selectRow(id) {
                if (this.selectedRows.includes(id)) {
                    this.selectedRows = this.selectedRows.filter((rowId) => rowId !== id);
                } else {
                    this.selectedRows.push(id);
                }
            },
            startDrag() {
                this.isDragging = true;
            },
            stopDrag() {
                this.isDragging = false;
            },
            SaveUpdate() {
                if (this.updateFiled.key == "" || this.updateFiled.value == "") {
                    Toast.fire({
                        icon: "error",
                        title: "Vui lòng chọn trường cập nhật"
                    });
                    return;
                }

                Swal.fire({
                    title: "Bạn chắc chắn chứ?",
                    text: "Dữ liệu sẽ được cập nhật, không thể khôi phục lại!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    confirmButtonText: "Cập nhật!",
                    cancelButtonColor: "#d33",
                    cancelButtonText: "Huỷ",
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch("/profile_gpm/update_field", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                "key": this.updateFiled.key,
                                "value": this.updateFiled.value
                            })
                        }).then(() => {
                            Swal.fire({
                                title: "Cập nhật thành công",
                                icon: "success"
                            }).then(() => {
                                this.getProfiles();
                            });
                        })
                    }
                });
            },
            CopyData(key) {
                Toast.fire({
                    icon: "info",
                    title: "Đang lấy dữ liệu"
                });

                console.log(key);
                fetch("/profile_gpm/get_data?key=" + key)
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        console.log(data);
                        navigator.clipboard.writeText(data.data);
                        Toast.fire({
                            icon: "success",
                            title: "Đã copy dữ liệu"
                        });
                    }).catch(() => {
                        Toast.fire({
                            icon: "error",
                            title: "Lỗi khi lấy dữ liệu"
                        });
                    });
            },
            ExportExcel() {
                fetch("/profile_gpm/export_excel_data", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        "device": this.filter_device,
                        "name": this.name,
                        "status": this.filter_status,
                        "session": this.session
                    })
                })
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        if (data.code == 200) {
                            let res_data = data.data;
                            let data_result = []
                            for (let i = 0; i < res_data.length; i++) {
                                data_result.push({
                                    "Tên profile": res_data[i].profile_name,
                                    "Thiết bị": res_data[i].profile_device,
                                });
                            }
                            let ws = XLSX.utils.json_to_sheet(data_result);
                            const columnWidths = Object.keys(data_result[0]).map((key) => {
                                const maxWidth = Math.max(
                                    ...data_result.map(row => (row[key] ? row[key].toString().length : 0)),
                                    key.length
                                );
                                return { wch: maxWidth + 2 };
                            });
                            ws['!cols'] = columnWidths;

                            let wb = XLSX.utils.book_new();
                            XLSX.utils.book_append_sheet(wb, ws, "Sheet1");

                            // Tải file Excel xuống
                            XLSX.writeFile(wb, `${"profile"}.xlsx`);
                        } else {
                            Toast.fire({
                                icon: "error",
                                title: "Lỗi khi xuất dữ liệu"
                            });
                        }
                    });
            }
        }
    })
</script>


{% endblock %}