{% extends "share/Main_Layout.html" %}

{% block title %}Quản lý nhân viên{% endblock %}


${% block breadcrumb %}

<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Quản lý nhân viên</a>
            </li>
        </ol>
    </nav>
</div>

{% endblock %}

{% block content %}


{% endblock %}
{% block script %}
<script>
    var app_vue = new Vue({
        "el": "#app",
        "data": {
            
        },
        "mounted": function () {
            
        },
        "methods": {
            
        }
    })
</script>

{% endblock %}