{% extends "share/Main_Layout.html" %} {% block title %}Quản lý User{% endblock
%} ${% block breadcrumb %}

<div class="container-fluid px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Quản lý User</a>
      </li>
    </ol>
  </nav>
</div>

{% endblock %} {% block content %}

<div class="container-fluid">
  <h1 class="mt-4 text-center">Quản lý user</h1>

  <div class="card my-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered text-center"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>STT</th>
              <th>Tài khoản</th>
              <th>Chức vụ</th>
              <th>Email</th>
              <th>Mật khẩu</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in users" :key={index}>
              <td v-html="index+1"></td>
              <td v-html="item.username">
              </td>
              <td>
                <span class="badge bg-primary" v-html="item.role"></span>
              </td>
              <td v-html="item.email"></td>
              <td>
               <span class="badge bg-warning" v-html="item.password">********</span>
              </td>
              <td>
                <span class="badge bg-success" v-html="item.status"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  var app_vue = new Vue({
    el: "#app",
    data: {
      users: []
    },
    mounted: function () {
      this.getUsers();
    },
    methods: {
      getUsers: function () {
        fetch("/user/get_user")
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            this.users = data.data;
            console.log(this.users);
          });
      }
    }
  });
</script>

{% endblock %}
