<!DOCTYPE html>
<html lang="en" data-coreui-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="/static/lib/coreui/coreui.css">
    <script src="/static/lib/coreui/coreui.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/static/lib/jquery-3.7.1.min.js"></script>
    <script src="/static/lib/sweetalert2@11.js"></script>
    <script src="/static/lib/vue.js"></script>
    
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>
